@font-face {
    font-family: "Finder"; 
    src: url("../Fonts/Finder.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

p{
    font-family: "Finder";
} 

body{
    margin: 0px;
}

.Logo a {
    align-self: center;
}

.Logo_text{
    color: rgb(51, 153, 204);
    font-size: 24px;
    align-items: center;
}

.Up_header{
    display: flex;
}

.Up_header div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.Nav_header{
    background:#0615A8;
    color:#86A7FB;
    /* padding-top: 1%;
    padding-bottom: 1%; */
}

.Nav_Bar{
    display: flex;
    padding: 0px;
    margin-top: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    justify-content: center;
}

.Nav_Bar a{
    font-family: "Finder";
    color: #86A7FB;
    /* margin-left: auto;
    margin-right: auto; */
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%; 
    padding-right: 2%;
    padding-left: 2%; 
}
/* .Nav_Bar:hover{
    background-color: red;
} */
.Nav_Bar a:hover{
    background-color: red;
}

.Logo_social{
    display: flex;
    flex-direction: column;
}

.Logo_social a{
    text-decoration: none;
    color: #000000;
}

.Logo_social a:active{
    color: #000000;
}

.Logo_social img{
    width: 30px;
}

.Logo_text{
    flex-direction: column;
}

.red_logo_container{
    margin-left: 0px !important;
}

.Logo_social p{
    margin: 0px;
}

.red_logo{
    margin-bottom: 0px;
    color: #ff0000;
}

main{
    display: flex;

    justify-content: center;
}

.big_p{
    font-size: 24px;
    font-weight: bold;
}

.bolid_p{
    font-weight: bold;
}

.Main_info_wrapper{
    width: 50%;
    padding-right: 25%;
    padding-left: 25%;
    text-align: justify;
}

.Main_info{
    border-radius: 1%;
    box-shadow: 
    -5px 0 5px -3px rgba(0,0,0,0.5), 
    5px 0 5px -3px rgba(0,0,0,0.5),
    0 -5px 5px -3px rgba(0,0,0,0), /* Тень-призрак */
    0 5px 5px -3px rgba(0,0,0,0);
}

.number_wrapper{
    display: flex;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px;
}


.form-example{
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    padding-top: 1%;
    color: rgb(51, 153, 204);
}

.form-example input{
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
}

.form-example_submit{
    width: 30%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.form-example_textarea{
    display: flex;
    flex-direction: column;
}

.form-example_textarea textarea{
    border: 1px solid #ccc;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
}

.contact_form{
    color: rgb(51, 153, 204);
    font-size: 24px;
    align-items: center;
}

.Finished_work{
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    height: 100%;
}

.Finished_work_card{
    border: 1px solid;
    border-radius: 10%;
    text-align: center;
    padding: 5%;
    height: min-content;
    margin: 2%;
}

.Finished_work_card_img{
    
}

.Finished_works_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1%;
    box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.5), 5px 0 5px -3px rgba(0, 0, 0, 0.5), 0 -5px 5px -3px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0);
}

.contact_form p{
    margin: 0px;
}

footer{
    background:#0615A8;
    color:#86A7FB;
    width: 100%;
    align-content: center;
    height:5vh ;
}

.footer_info p{
    margin: 0px;
} 

.footer_info{
    text-align: center;
}
.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden; 
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* width: 60%;
    justify-self: center; */
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    /* background-color: #f2f2f2; */
    text-align: center;
}

.slide img{
    margin: 0px;
    
}

/* .active {

}

.prev{
    
}

.next{
    
} */

.prev,
.next {
   opacity: 0.5; /* Полупрозрачность для соседних слайдов */
   transform: scale(0.5);  /*Уменьшение размера соседних слайдов */
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Плавный переход */
}

.main_ab_us_wrapper{
    display: flex;
    text-align: justify;
    justify-content: center;
}
.about{
    width: 30%;
    border-radius: 1%;
    box-shadow: 
    -5px 0 5px -3px rgba(0,0,0,0.5), 
    5px 0 5px -3px rgba(0,0,0,0.5),
    0 -5px 5px -3px rgba(0,0,0,0), /* Тень-призрак */
    0 5px 5px -3px rgba(0,0,0,0);
}